body{
    background: rgb(159, 214, 233);
    color: rgb(61, 59, 59);
}
header{
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 30px;
}

main{
    background: whitesmoke;
    display: flex;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 300px;
    margin-right: 300px;
    padding-left: 60px;
    padding-right: 60px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    border-radius: 10px;
    box-sizing: border-box;
    -moz-box-shadow: -10px -10px #777777;
-webkit-box-shadow: -10px -10px #777777;
box-shadow: -10px -10px #777777;
}

@media only screen and (max-width: 500px){
 body{ 
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 200px;
    padding-right: 200px;
    width: 100%;
}
main{
    width: fit-content;
    float: left;
    margin-bottom: 10px;
    margin-left: 50px;
    margin-right: 50px;
    padding-left: 60px;
    padding-right: 60px;
}
header{
    text-align: center;
    font-size: 20px;
    margin-top: 0px;
}
}
form button{
    background: #777777;
     box-sizing: border-box;
     height: 30px;
     width: 80px;
     border-radius: 5px;
     overflow: hidden;
}
input{
    height: 20px;
    width: 250px;
}
#text-area{
    border-radius: 10px;
    border-color: #777777;
    height: 30px;
}
@media only screen and (max-width:850px){
    body{ 
        margin-left: 10px;
        margin-right: 10px;
        padding-left: 100px;
        padding-right: 100px;
        height: 100%;
        width: 100%;
    }
    main{
        width: fit-content;
        float: left;
        margin-bottom: 50px;
        margin-left: 50px;
        margin-right: 50px;
        padding-left: 60px;
        padding-right: 60px;
        padding-bottom: 50px;
    }
    header{
        text-align: center;
        font-size: 20px;
        margin-top: 0px;
    }
}
